{% extends 'portfolio/layout.html' %} {% block navigation %}
<a href="{% url 'portfolio:home' %}" class="text-white text-decoration-none f-link">About</a>
{% endblock %} {% block content %}
<!-- Projects Section -->
<section id="projects">
    <h3 class="text-white fw-light f-heading3">Projects</h3>
    <hr class="my-4 opacity-50" />
    {% for project in projects %}
    <!-- Project Item -->
    <div class="row mb-4">
        <div class="col-md-4">
            <h2 class="text-white f-heading2">{{ project.title }}</h2>
            <p class="f-paragraph mb-1">{{ project.technologies }} ›</p>
            <div class="d-flex gap-3 mt-2">
                {% if project.live_url %}<a href="{{ project.live_url }}" class="project-link">Live Site ›</a>{% endif %} {% if project.github_url %}<a href="{{ project.github_url }}" class="project-link">GitHub ›</a>{% endif %}
            </div>
        </div>
        <div class="col-md-8">
            <ul class="text-white">
                {% for achievement in project.get_achievements_list %}
                <li class="f-paragraph-list">{{ achievement }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if not forloop.last %}
    <hr class="my-4 opacity-50" />
    {% endif %} {% empty %}
    <!-- No Projects Message -->
    <div class="row mb-4">
        <div class="col-md-4">
            <h2 class="text-white f-heading2">No Projects</h2>
        </div>
        <div class="col-md-8">
            <p class="text-white f-paragraph-list">Projects will be displayed here once added to the database.</p>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}
